@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"] Employee</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.CostPerHour"></label>
                    <input asp-for="Input.CostPerHour" class="form-control" />
                    <span asp-validation-for="Input.CostPerHour" class="text-danger"></span>
                </div>
                <div class="form-group mx-auto text-center">
                    <label asp-for="Input.EmployeeType"></label>
                    <select asp-for="Input.EmployeeType" asp-items="Model.Roles"></select>
                    <span asp-validation-for="Input.EmployeeType" class="text-danger"></span>
                </div>
                <div class="form-group mx-auto text-center">
                    <label asp-for="Input.Department"></label>
                    <select asp-for="Input.Department" asp-items="Model.Departments"></select>
                    <span asp-validation-for="Input.Department" class="text-danger"></span>
                </div>
                <div class="mx-auto text-center">
                    <button type="submit" class="btn btn-primary mx-auto text-center">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
