@model FacilityManager.Models.WorkOrderViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WorkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <select asp-for="Building" class="form-control" asp-items="ViewBag.Buildings">
                    <option id="b_selected0" selected >Choose Building</option>
                </select>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="form-group" id="employee_list">
                <label asp-for="Employee" class="control-label" id="employee"></label>
                <select id="c_select" asp-for="Employee[0]" class="form-control " asp-items="ViewBag.Employees">
                    <option selected value="0">Choose Employee</option>
                </select>
            </div>
            <div><button type="button" id="addEmployee" class="btn btn-primary">Add</button></div>


            <div class="form-group" id="contactor_list">
                <label asp-for="Contractor" class="control-label" id="contractor"></label>
                <select id="c_select" asp-for="Contractor[0]" class="form-control " asp-items="ViewBag.Contractors">
                    <option selected value="0">Choose Contractor</option>
                </select>

            </div>
            <div><button type="button" id="addContractor" class="btn btn-primary">Add</button></div>

            <div class="form-group" id="task_list">
                <label asp-for="Tasks" class="control-label" id="task"></label>
                <select id="c_select" asp-for="Tasks[0]" class="form-control " asp-items="ViewBag.Tasks">
                    <option selected value="0">Choose Task</option>
                </select>

            </div>

            <div><button type="button" id="addTask" class="btn btn-primary">Add</button></div>

            <div class="form-group">
                <label asp-for="WorkStart" class="control-label"></label>
                <input asp-for="WorkStart" type="datetime-local" data-date-format="mm/dd/yyyy" class="form-control" />
                <span asp-validation-for="WorkStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEnd" class="control-label"></label>
                <input asp-for="WorkEnd" type="datetime-local" class="form-control" />
                <span asp-validation-for="WorkEnd" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

       

    </div>
    </div>





<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {



            var ecount = 0;
            var ccount = 0;
            var tcount = 0;

            var a = $("#task_list").html();
            $("#addTask").click(function () {
                tcount++;
                var k = a.replace("Task[0]", "Task[" + tcount + "]");
                $("#task_list").append(k);
                tcount++;

            });




            var e = $("#employee_list").html();
            $("#addEmployee").click(function () {
                ecount++;
                var k = e.replace("Employee[0]", "Employee[" + ecount + "]");
                $("#employee_list").append(k);
                ecount++;

            });


            var w = $("#contactor_list").html();
            $("#addContractor").click(function () {
                ccount++;
                var t = w.replace("Contractor[0]", "Contractor[" + ccount + "]");
                $("#contactor_list").append(t);
                ccount++;
            });


            



        });




    </script>

}
